{% extends "layout.html" %}



{% block body %}
<h2>Hakkımızda</h2>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod dolorum ducimus optio aliquid animi enim, nemo quas commodi at perspiciatis aut maxime distinctio. Magni beatae, natus modi facilis libero velit!
Perspiciatis, ipsum porro? Exercitationem ullam eos nisi quibusdam consequuntur ut deleniti error, quae eaque amet quod magni molestiae veritatis doloremque impedit minus cupiditate maxime quam excepturi aliquam quasi incidunt! Culpa?
Dolore numquam maiores adipisci magni sapiente nulla ipsa veniam alias libero voluptates ut molestias ducimus, nobis error! Dicta, ab maxime praesentium nam quasi labore, exercitationem dignissimos, assumenda quas totam eum!</p>
<hr>
{% endblock %}